/* Header --------------------------------------------- */

.sac-modal > header {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 15px;
}

/* Tooltip -------------------------------------------- */

.sac-modal-tooltip {
  display: grid;
  grid-template-columns: 40% auto;
  column-gap: 10px;
}

.sac-modal-tooltip > select,
.sac-modal-tooltip > input[type="text"] {
  padding: 5px;
  border: none;
  background-color: #f1f2f3;
  transition: all 150ms ease-in-out;
}

.sac-modal-tooltip > select:hover,
.sac-modal-tooltip > input[type="text"]:hover {
  background-color: #fafafa;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
}

/* Sac items ------------------------------------------ */

.sac-item-label-text {
  padding: 5px 8px 5px 5px;
  transition: background-color 150ms ease-in-out;
}

.sac-item-label-text:hover {
  background-color: #f1f2f3;
}

/* Footer buttons ------------------------------------- */

.sac-footer-button {
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  user-select: none;
  background-color: #f1f2f3;
  padding: 5px 12px;
  transition: background-color 150ms ease-in-out;
}

.sac-footer-button:not(:last-of-type) {
  border-right-style: none;
  margin-right: 2px;
}

.sac-footer-button:hover {
  background-color: #e1e2e3;
}
