.close-element-holder {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}

.close-element-holder:hover {
  transform: scale(1.2);
}
